@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    /*border: 1px solid #000;*/
    top: 0;
    left: 0;
    height: 60px;
    background-color: #fff;
    z-index: 200;
    @apply fixed w-full;
    border: 1px solid #000;
}

.header-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 99%;
    margin: auto;
}
.header-item {
    flex: 1;
}
.header-item.for-menu {
    position: relative;
}
.header-item.brand {
    flex: calc(99% - 165px);
}
.header-item.brand .logo {
    margin-top: 7px;
}
.header-item.right-links {
    flex: 1;
    /*border: 1px solid #000;*/
    height: 60px;
}
#burger-toggle {
    display: none;
}
#burger-bread {
    cursor: pointer;
    width: 52px;
}
.burger:first-child {
    margin-top: 10px;
}
.burger {
    width: 45px;
    height: 7px;
    background: #000;
    border-radius: 10%;
    margin-left: 5px;
    margin-bottom: 10px;
}
.menu {
    display: none;
}
.menu.menu-display {
    display: block;
}
#burger-toggle:checked ~ .menu {
    display: block;
    position: fixed;
    top: 52px;
    left: 0;
    background: #fff;
    width: 360px;
    height: 100%;
    z-index: 200;
    cursor: pointer;
    padding-left: 5px;
}

#burger-toggle:checked ~ .for-menu .burger:first-child {
    position: absolute;
    top: 10px;
    transform: rotate(45deg);
}
#burger-toggle:checked ~ .for-menu .burger.burger-2 {
    display: none;
}
#burger-toggle:checked ~ .for-menu .burger:last-child {
    position: absolute;
    top: 20px;
    transform: rotate(-45deg);
}
.menu .menu-item {
    padding: 15px 0;
}
.menu .menu-item a:hover {
    text-decoration: underline;
}
.menu-item-toggle {
    display: inline-block;
    height: 21px;
    width: 23px;
    position: relative;
    top: 6px;
    margin: 0 5px;
}
.menu-item-toggle .arrow-1 {
    position: absolute;
    border: 2px solid #000;
    height: 17px;
    width: 3px;
    transform: rotate(-45deg);
    left: 2px;
}
.menu-item-toggle .arrow-2 {
    position: absolute;
    border: 2px solid #000;
    height: 17px;
    width: 3px;
    transform: rotate(45deg);
    right: 7px;
}
.minicart {
}
.cart-link:before {
    content: '';
    /* background-image: url('../images/cart.svg'); */
    background-size: 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height:30px;
    position: relative;
    top: 8px;
    @apply mx-[3px] font-bold;
}
.cart-content {
    width: 100%;
    background-color: #fff;
    height: min-content;
    z-index: 190;
    position: relative;
    top: -1px;
}
.cart-content .heading {
    font-weight: 21px;
    line-height: 42px;
}
.cart-item {
    margin: 12px 0;
    position: relative;
}
.cart-item-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cart-item-img {
    padding: 10px;
}
.cart-info {
    display: block;
    margin: 6px 12px;
    width: 70%;
    align-items: center;
}
.cart-info-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cart-info .product-name {
    font-weight: bold;
    width: 65%;
    cursor: pointer;
}
.cart-info .price-info {
    width: 32%;
}
.spinner-container {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 300;
}
.spinner {
    margin: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -9px;
    /*border: 1px solid #000;*/
    width: 100%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 200;
}
.header-item .spinner-container {
    width: inherit;
    height: inherit;
    position: relative;
}
.header-item .spinner {
    top: -36px;
    border: none;
}
/*.header-item */
.spinner img {
    opacity: 0.4;
}
.cart-item .spinner img {
    height: 135px;
    opacity: 0.4;
}
.cart-item .sorry {
    color: red;
    @apply font-semibold;
}
.cart-info .product-name, .cart-info .price-info {
    line-height: 24px;
    /*border: 1px solid #000;*/
}
.cart-info .qty {
    width: 100%;
    /*border: 1px solid #000;*/
}
.cart-info-row.right {
    justify-content: right;
}
.cart-info-row .actions {
    display: inline-flex;
}
.cart-info-row .action {
    padding-left: 0.5rem;
    margin: 0.75rem 0;
}
.cart-info-row .action {
    cursor: pointer;
}
.cart-info-row .action.delete img,
.cart-info-row .action.update img{
    height: 30px;
    width: 30px;
}
.cart-totals {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 10px;
}
.cart-totals .cart-subtotal {
    width: 57%;
}
.cart-totals .cart-subtotal-value {
    width: 42%;
    text-align: right;
    padding-right: 15px;
}
.cart-main-actions {
    display: block;
    margin: 24px auto;
    width: 100%;
}
.cart-main-actions .primary {
    text-align: center;
    margin: 12px 0;
}
.btn.btn-checkout {
    width: 80%;
    color: #fff;
    @apply bg-blue-800 rounded;
}

.main{
    margin-top: 60px;
}

/*#catalog-container, #checkout-container {*/
#messages, .messages{
    margin-top: 60px;
}
.category-header {
    font-size: 2rem;
    font-weight: bold;
}
.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product {
    flex: 100%;
    margin-bottom: 15px;
}
.product-img {
    width: 85%;
    height: 80%;
    margin: auto;
}
.product-name {
    @apply my-[7px];
}
.product-name:hover {
    text-decoration: underline;
}
.product-other-data {
    @apply my-[7px];
}
.product-actions {
    margin-bottom: 2rem;
}

.btn {
    color: #000;
    @apply rounded font-bold px-4 py-2;
}
.btn-primary {
    color: #fff;
    @apply rounded bg-blue-500 font-bold px-4 py-2;
}
.btn-disabled {
    color: #000;
    background-color: #f5f5f5;
}

/* Checkout */
#checkout-container .step-container {
    display: block;
    border-bottom: 1px solid #000;
    position: relative;
    padding: 14px 0;
    margin: 0 auto;
    width: 95%;
}
#checkout-container .step-container .estimated-total {
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    border-bottom: 1px solid #000;
    padding-bottom: 1rem;
}
#checkout-container .step-container .minicart-count {
    /*border: 1px solid #000;*/
    position: absolute;
    right: 0;
    top: 4px;
    width: 70px;
}
#checkout-container .step {
    border-bottom: 1px solid #d8d8d8;
    margin: 20px 0;
}
#checkout-container .step-header {
    display: flex;
    font-size: 24px;
    font-weight: 600;
    margin: 5px 10px;
}
#checkout-container .step-header h3 {
    width: 85%;
}
#checkout-container .step-toggle {
    height: 36px;
    width: 36px;
    position: relative;
    cursor: pointer;
}
#checkout-container .arrow-1 {
    height: 25px;
    width: 2px;
    border: 2px solid #000;
    position: absolute;
    top: 3px;
    left: 6px;
    transform: rotate(-90deg);
}

#checkout-container .arrow-2 {
    height: 25px;
    width: 2px;
    border: 2px solid #000;
    position: absolute;
    top: 3px;
    right: 26px;
}
#checkout-container .step-content {
    margin: 18px 10px;
}
#checkout-container .form-input-container {
    margin: 0 0 20px;
}
#checkout-container .form-input-container:first-of-type {
    margin-top: 20px;
}
#checkout-container .form-input {
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    padding: 0.5em 0.25em;
    width: 100%;
}
#checkout-container .same-as-billing-radio {
    border: 1px solid #000;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
}
#checkout-container .same-as-billing-radio.active {
    background-color: #000;
}
#checkout-container .same-as-billing-box {
    padding: 10px 0;
    position: relative;
}
#checkout-container .same-as-billing-text {
    display: inline-block;
    height: 20px;
    position: absolute;
    top: 8px;
}
#checkout-container .sidebar {
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.5);
    z-index: 200;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

#checkout-container .shipping-method-btn,
#checkout-container .payment-method-btn {
    padding: 10px 5px;
    border: 2px solid #ededed;
    border-radius: 8px;
    margin-bottom: 8px;
    width: 100%;
}

#checkout-container .shipping-method-btn.active,
#checkout-container .payment-method-btn.active {
    border-color: #000;
}

#checkout-container .proceed-btn {
    padding: 10px 5px;
    border: 2px solid #003060;
    border-radius: 8px;
    margin-bottom: 8px;
    width: 100%;
    background-color: #003060;
    color: #fff;
}

#checkout-container .sidebar .minicart-container {
    background: #fff;
    position: absolute;
    width: 93%;
    height: 100%;
    right: 0;
    /*border: 1px solid #000;*/
}
#checkout-container .sidebar .minicart-content {
    /*border: 1px solid #000;*/
    width: 93%;
    margin: auto;
    margin-top: 2rem;
}
#checkout-container .sidebar .minicart-header {
    /*border-bottom: 1px solid #000;*/
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#checkout-container .sidebar .minicart-title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
#checkout-container .sidebar .close-button {
    display: block;
    position: absolute;
    right: 0px;
    padding-left: 4px;
    height: 36px;
    width: 30px;
}
#checkout-container .close-bar {
    height: 3px;
    width: 20px;
    border: 2px solid #000;
    display: block;
}

#checkout-container .minicart-item {
    display: flex;
}
#checkout-container .cart-item-wrapper {
    width: 100%;
}
#checkout-container .minicart-item .image-container {
    height: 100px;
    width: 100px;
}
#checkout-container .minicart-item .product-item-details {
    /*border: 1px solid #000;*/
    margin-left: 15px;
    width: calc(100% - 120px);
}
#checkout-container .total-segment-list {
    margin: 6px 0;
}
#checkout-container .total-segment {
    display: flex;
    flex-direction: row;
}
#checkout-container .total-title {
    width: 70%;
}
#checkout-container .total-segment-price {
    width: 27%;
    text-align: right;
}

/* Admin-related CSS */
.dashboard-content h1 {
    font-size: 36px;
    font-weight: 500;
}
.dashboard-content .report {
    @apply flex flex-row flex-wrap w-full mt-2;
}
.stats {
    @apply w-full px-2 py-2 md:w-1/2 md:px-4;
}
.stats.level-2 {
    @apply w-full py-2;
}
.stats .col-header {
    @apply w-1/3 font-bold inline-block ml-2;
}
.stats .col-header.half {
    width: 48%;
}
.stats .col-data {
    @apply w-3/5 inline-block;
}
.stats .col-data.half {
    width: 48%;
}
.stats .h2-title {
    font-weight: 400;
    font-size: 24px;
}

/* Customer Account Creation */
.error-msg {
    color: red;
}
.register-overlay, .login-overlay, .overlay {
    border: 1px solid #000;
    position: absolute;
    top: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    z-index: 200;
    background: #fff;
}
.overlay .actions {
    position: absolute;
    right: 0;
}
.login-container {
    position: relative;
    top: 50px;
    width: 70%;
    margin: auto;
}
.register-container {
    position: relative;
    top: 200px;
    width: 90%;
    margin: auto;
}
.register-container .form-input-container,
.overlay-container .form-input-container {
    margin: 0 0 20px;
}
.register-container .form-input-container:first-of-type,
.overlay-container .form-input-container:first-of-type {
    margin-top: 20px;
}
.register-container .form-input,
.overlay-container .form-input {
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    padding: 0.5em 0.25em;
    width: 100%;
}
.cta-btn {
    padding: 10px 5px;
    border: 2px solid #003060;
    border-radius: 8px;
    margin-bottom: 8px;
    width: 100%;
    background-color: #003060;
    color: #fff;
    font-weight: 500;
}

@media (min-width: 768px) {
    .product {
        flex: 50%;
    }
}